MNEMONIC=test test test test test test test test test test test test
REPORT_GAS=true
INFURA_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ETHERSCAN_API_KEY=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

GOERLI_NODE_URL=
ARGENT_X_PK=
ARGENT_X_ADDRESS=
ETH_PK_1=
