STARKNET_NETWORK_URL=
ETH_NETWORK_URL=
ADDRESS=
PK=
STARKNET_SIERRA_COMPILE_PATH=
L1_CHAIN_ID=11155111
L1_TOKEN_ADDRESS=
VOTER_ADDRESS=

# Space addresses
SPACE_ADDRESS=
VANILLA_AUTHENTICATOR_ADDRESS=
VOTING_STRATEGY_ADDRESS=

# Herodotus
HERODOTUS_BASE_URL=
HERODOTUS_API_KEY=
HERODOTUS_SATELLITE_ADDRESS=

# Ethereum private key (for Foundry token deployment)
ETH_PRIVATE_KEY=

# Needed for Devnet Postman Endpoint to work
OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
