node_modules
**/__pycache__

#Hardhat files
cache
artifacts
starknet-artifacts
factories
typechain
typechain-types
abi
coverage 
coverage.json

.yarn
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local deployments
deployed_contracts/local.json

*.DS_Store
