target
node_modules/
.env
cairo_project.toml
dump.pkl

ethereum/broadcast/

artifacts/
starknet-artifacts/
typechain-types/

build/
cache/
out/

!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

.VSCodeCounter
