aiohttp==3.7.4.post0
appnope==0.1.2
argcomplete==2.0.0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bitarray==1.2.2
blake2b-py==0.1.4
cached-property==1.5.2
cachetools==4.2.4
cairo-lang==0.7.0
cairo-nile==0.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cycler==0.11.0
cytoolz==0.11.0
decorator==5.1.1
distlib==0.3.4
ecdsa==0.17.0
eth-abi==2.1.1
eth-account==0.5.6
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b4
eth-typing==2.2.2
eth-utils==1.9.5
ethpm-cli==0.3.0
fastecdsa==2.2.1
filelock==3.4.2
Flask==2.0.2
Flask-Cors==3.0.10
frozendict==1.2
hexbytes==0.2.2
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
ipython==7.31.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jsonschema==3.2.0
kiwisolver==1.3.2
lark==0.11.3
lark-parser==0.12.0
lru-dict==1.1.7
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-dataclass==8.5.3
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mpmath==1.2.1
multiaddr==0.0.9
multidict==5.2.0
mypy-extensions==0.4.3
netaddr==0.8.0
numpy==1.21.3
packaging==21.2
parsimonious==0.8.1
parso==0.8.3
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipdeptree==2.2.0
pipx==1.0.0
platformdirs==2.4.1
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.1
ptyprocess==0.7.0
py==1.10.0
py-ecc==4.1.0
py-evm==0.4.0a4
py-geth==3.7.0
pycryptodome==3.11.0
pyethash==0.1.27
Pygments==2.11.2
pyparsing==2.4.7
pyrsistent==0.18.0
pysha3==1.0.2
pytest==6.2.5
pytest-asyncio==0.15.1
python-dateutil==2.8.2
PyYAML==5.3.1
requests==2.26.0
rlp==2.0.1
semantic-version==2.8.5
sha3==0.2.1
six==1.16.0
sortedcontainers==2.4.0
starknet-devnet==0.1.13
stevedore==3.5.0
sympy==1.9
termcolor==1.1.0
toml==0.10.2
toolz==0.11.1
tox==3.24.5
traitlets==5.1.1
trie==2.0.0a5
typeguard==2.13.0
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
userpath==1.7.0
varint==1.0.2
virtualenv==20.13.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.5
web3==5.24.0
websockets==9.1
Werkzeug==2.0.2
yarl==1.7.0
zipp==3.6.0
