name: Tests
on:
  push:
    branches:
      - develop
  pull_request:
jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install yarn dependencies
        run: yarn install --no-progress --non-interactive 

      - name: Compile Contracts
        run: yarn compile
    
      - name: Run unit tests
        run: yarn test 

      - name: Run python unit tests
        run: py.test
